* {
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: 'Comic Sans MS', "Comic Sans", cursive;
}

.c {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ben {
  cursor: url("assets/reaching.png") 16 16, grab;
  transform: scale(1.5);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 300ms;
  transition-property: transform;
}

.ben.press {
  cursor: url("assets/grab.png") 16 16, grabbing;
  transform: scale(1.2);
}

.time {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin-top: 1em;
  font-size: large;
}

.globalTime {
  position: absolute;
  top: 25;
  left: 0;
  width: 100%;
  text-align: center;
  margin-top: 1em;
  font-size: large;
}

.count {
  position: absolute;
  bottom: 25;
  left: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
  font-size: large;
}

.globalCount {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
  font-size: large;
}

.discord {
  position: absolute;
  top: 1em;
  right: 1em;
}

.discord-img {
  width: 2.5em;
  height: 2.5em;
}

.hidden {
  display: none;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #111222;
    color: white;
  }
}